AUTH_PORT=3001
jwtSecret="safetraceisabsolutely"
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=safetrace
AUTH_DB_NAME=safetrace_auth
AUTH_DB_TIMEZONE=Asia/Kolkata

VITE_CLIENT_API=http://localhost:8080/api/v1

STATE="dev"
KAFKA_BROKER=localhost:9092

FENCER_DB_HOST=localhost
FENCER_DB_PORT=5434
FENCER_DB_USER=postgres
FENCER_DB_PASSWORD=safetrace
FENCER_DB_NAME=safetrace_fencer
FENCER_DB_TIMEZONE=Asia/Kolkata

AUTH_URL=http://localhost:3001

ORIGIN=http://localhost:5173

SERVER_URL=http://localhost:5000

FENCER_URL=http://localhost:3002

ALERT_URL=http://localhost:3003